html {
    box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
      Sans-Serif;
    font-weight: normal;
    color: #272727;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);

  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  /* overflow-x: hidden; */
    
   
    
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
  }

  .photo {
      max-width: 100%;
    
  }

  figure {
        text-align: center;
    }

  .container {
    min-height: 100vh;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas: 
      "header           header      header"
      "sidebar-left     midsection  sidebar-right"
      "sidebar-left     midsection  sidebar-right"
      "sidebar-left     footer      footer"
      
  }

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    background: #698F3F;
    color: white;
}

    .sitename {
        display: grid;
        align-content: center;
        padding: 1rem;
    }

    .navbar {
        list-style: none;
        margin: 0;
        padding: 1rem;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 2rem;
        align-content: center;
    }
    
    .navlink {
        text-decoration: none;
        color: white;
    }

    .navlink:hover { 
        text-decoration: underline;
    }
   
.sidebar {
    background: #E7DECD;
}

.side-title {
    padding: 1rem;
    text-align: center;
}

.sidebar-left {
      grid-area: sidebar-left;
      
  }

.midsection {
    padding: 1rem;
    grid-area: midsection; 
}

.mid-title {
   text-align: center;
}



.sidebar-right {
    grid-area: sidebar-right;
}

.footer {
    background: #804E49;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 1rem;
    grid-area: footer;
}

/* Desktop Kleiner */
@media screen and (max-width: 1000px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header header"
        "sidebar-left sidebar-right" 
        "midsection midsection"
        "footer footer"   
    }

    .photo {
        max-width: 50%;
        
    }

    figure {
        text-align: center;
    }
    
}

/* Tablet */
@media screen and (max-width: 600px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: 
        "header"
        "sidebar-left"
        "midsection"
        "sidebar-right"
        "footer" 
    }

    .header {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }

    .photo {
        max-width: 50%;
        
    }
    
}


/* Mobile */
@media screen and (max-width: 450px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: 
        "header"
        "sidebar-left"
        "midsection"
        "sidebar-right"
        "footer" 
    }

    .header {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }

    .navbar {
        list-style: none;
        margin: 0;
        text-align: center;
        padding: 1rem;
        display: grid;
        grid-auto-flow: row;
        grid-gap: 2rem;
    }

    .paragraph {
        text-align: center;
    }


    .photo {
        max-width: 50%;
        
    }
    
}

