html {
    box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
      Sans-Serif;
    font-weight: normal;
    color: #272727;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    /* min-height: 100vh; */
    
  }

  body * {
    /* border: solid red 1px; */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
  }

  img {
      max-width: 100%;
  }

  .container {
      display: grid;
      min-height: 100vh;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas: 
      "header           header      header"
      "sidebar-left     midsection  sidebar-right"
      "sidebar-left     midsection  sidebar-right"
      "sidebar-left     footer      footer"
      
  }

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}

.sidebar-left {
      grid-area: sidebar-left;
  }

.midsection {
    grid-area: midsection;
}

.sidebar-right {
    grid-area: sidebar-right;
}

.footer {
    grid-area: footer;
}

